/*title scene buttons formatting*/
.titleButton {
    -fx-background-color:
            #CDD1D5,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(124,136,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Engravers MT";
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}
/*#titleButton Text {*/
/*    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );*/
/*}*/
/*title label formatting*/
.titleLabel {
    -fx-font-family: "Engravers MT";
    -fx-font-weight: bold;
    -fx-font-size: 100px;
    -fx-text-fill: #ACB2B8;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 20, 0.0 , 0 , 1 );
}
/*pane background formatting*/
#pane{
    -fx-background-image: url("images/black-concrete-texture.jpg");
    -fx-background-size: stretch;
    /*-fx-background-size: 600 600;*/
    -fx-background-position: center center;
}
